<a href="https://colab.research.google.com/github/GKurek94/Data-Science-projects/blob/main/Poland_apartament_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data science project on housing prices in 16 largest cities in Poland since 2006. 
##Project constains some visualization of changing prices of specific cities every quater of previous years.

## Loading dataset and necessary libraries with preliminary preparation for project.

Importing required libraries.

In [55]:
import pandas
import numpy as np
import plotly.express as px
import tensorflow
import matplotlib.pyplot as plt
import seaborn as sns

Function to rename the column name which contains polish characters, what could cause errors.

In [56]:

# In this case its unnecessary.
def replace_char(string):
    new_char = ''
    polish_char = ['ą', 'ć', 'ę', 'ł', 'ń', 'ó', 'ź', 'ż']
    english_char = ['a', 'c', 'e', 'l', 'n', 'o', 'z', 'z']
    for character in string:
        if character in polish_char:
            index = polish_char.index(character)
            character = english_char[index]
            new_char += str(character)
        else:
            new_char += str(character)
    return new_char

Creating list of new name of columns in dataframe to make invidual names.

In [57]:
df_new_names_of_columns = ['Kwartał', 'Białystok', 'Bydgoszcz', 'Gdańsk', 'Gdynia', 'Katowice',
                           'Kielce', 'Kraków', 'Lublin', 'Łódź', 'Olsztyn', 'Opole', 'Poznań',
                           'Rzeszów', 'Szczecin', 'Warszawa', 'Wrocław', 'Zielona Góra', '7 miast',
                           '10 miast', '6 miast bez Warszawy', '9 miast', 'Unnamed: 22', 'Kwartał_ceny_tr',
                           'Białystok_ceny_tr', 'Bydgoszcz_ceny_tr', 'Gdańsk_ceny_tr', 'Gdynia_ceny_tr',
                           'Katowice_ceny_tr', 'Kielce_ceny_tr', 'Kraków_ceny_tr', 'Lublin_ceny_tr', 'Łódź_ceny_tr',
                           'Olsztyn_ceny_tr', 'Opole_ceny_tr', 'Poznań_ceny_tr', 'Rzeszów_ceny_tr',
                           'Szczecin_ceny_tr', 'Warszawa_ceny_tr', 'Wrocław_ceny_tr', 'Zielona Góra_ceny_tr',
                           '7 miast_ceny_tr', '10 miast_ceny_tr', '6 miast bez Warszawy_ceny_tr', '9 miast_ceny_tr']

## Loading data and some statistical informations about the data.

Statistical informations show that the data set is chaotic. Names of columns are not specyfied. Data preparation is required.

In [15]:
# Read dataset of prices of houses in biggest cities in Poland
df_raw = pandas.read_excel('ceny_mieszkan.xls', sheet_name='Rynek pierwotny')
df = df_raw.copy()


#shape of dataset
print("shape of dataframe is : ", df.shape)
#Let's look at first 5 rows of dataset
df.head(5)
# summary of data
df.info()
# Get Statistical details of data
df.describe()

shape of dataframe is :  (65, 45)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 45 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rynek pierwotny    62 non-null     object
 1   Unnamed: 1         62 non-null     object
 2   Unnamed: 2         60 non-null     object
 3   Unnamed: 3         60 non-null     object
 4   Unnamed: 4         60 non-null     object
 5   Unnamed: 5         60 non-null     object
 6   Unnamed: 6         60 non-null     object
 7   Unnamed: 7         60 non-null     object
 8   Unnamed: 8         60 non-null     object
 9   Unnamed: 9         60 non-null     object
 10  Unnamed: 10        60 non-null     object
 11  Unnamed: 11        57 non-null     object
 12  Unnamed: 12        60 non-null     object
 13  Unnamed: 13        60 non-null     object
 14  Unnamed: 14        60 non-null     object
 15  Unnamed: 15        60 non-null     object
 16  Unnamed: 16        60 non-null     object
 17  Unnamed: 17        60 non-null     object
 18  Unnamed: 18        63 non-null     object
 19  Unnamed: 19        61 non-null     object
 20  Unnamed: 20        61 non-null     object
 21  Unnamed: 21        33 non-null     object
 22  Unnamed: 22        0 non-null      float64
 23  Rynek pierwotny.1  64 non-null     object
 24  Unnamed: 24        60 non-null     object
 25  Unnamed: 25        60 non-null     object
 26  Unnamed: 26        60 non-null     object
 27  Unnamed: 27        60 non-null     object
 28  Unnamed: 28        60 non-null     object
 29  Unnamed: 29        60 non-null     object
 30  Unnamed: 30        60 non-null     object
 31  Unnamed: 31        60 non-null     object
 32  Unnamed: 32        60 non-null     object
 33  Unnamed: 33        60 non-null     object
 34  Unnamed: 34        59 non-null     object
 35  Unnamed: 35        60 non-null     object
 36  Unnamed: 36        60 non-null     object
 37  Unnamed: 37        60 non-null     object
 38  Unnamed: 38        60 non-null     object
 39  Unnamed: 39        60 non-null     object
 40  Unnamed: 40        60 non-null     object
 41  Unnamed: 41        63 non-null     object
 42  Unnamed: 42        61 non-null     object
 43  Unnamed: 43        61 non-null     object
 44  Unnamed: 44        33 non-null     object
dtypes: float64(1), object(44)
memory usage: 23.0+ KB

       Unnamed: 22
count          0.0
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN

Data preparation. Dropping unnecessary columns and axis. Renaming column names.

In [16]:
# Modifying the dataframe with proper column name and indexing
df = df[df.index > 4]
df = df.reset_index(drop=True)

# Loop which renames columns names to names included in first cell of each column
for column in df.columns:
    if type(df[column][0]) is str:
        df = df.rename({column: df[column][0]}, axis=1)
    else:
        pass
df = df[df.index > 0]
df.columns = df_new_names_of_columns
df = df.drop('Unnamed: 22', axis=1)  # Column contains only missing values, probably created just for visual aspect in xls file

Statistical information about the modified data set. Names of columns describe prices of apartments in specific city. Data set contains 59 axis, 44 columns. Half of the columns is about the same cities, but describes the transaction price of each city.

In [17]:
#shape of dataset
print("shape of dataframe is : ", df.shape)
#Let's look at first 5 rows of dataset
df.head(5)
# summary of data
df.info()
# Get Statistical details of data
df.describe()

shape of dataframe is :  (59, 44)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 1 to 59
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Kwartał                       59 non-null     object
 1   Białystok                     59 non-null     object
 2   Bydgoszcz                     59 non-null     object
 3   Gdańsk                        59 non-null     object
 4   Gdynia                        59 non-null     object
 5   Katowice                      59 non-null     object
 6   Kielce                        59 non-null     object
 7   Kraków                        59 non-null     object
 8   Lublin                        59 non-null     object
 9   Łódź                          59 non-null     object
 10  Olsztyn                       59 non-null     object
 11  Opole                         56 non-null     object
 12  Poznań                        59 non-null     object
 13  Rzeszów                       59 non-null     object
 14  Szczecin                      59 non-null     object
 15  Warszawa                      59 non-null     object
 16  Wrocław                       59 non-null     object
 17  Zielona Góra                  59 non-null     object
 18  7 miast                       59 non-null     object
 19  10 miast                      59 non-null     object
 20  6 miast bez Warszawy          59 non-null     object
 21  9 miast                       32 non-null     object
 22  Kwartał_ceny_tr               59 non-null     object
 23  Białystok_ceny_tr             59 non-null     object
 24  Bydgoszcz_ceny_tr             59 non-null     object
 25  Gdańsk_ceny_tr                59 non-null     object
 26  Gdynia_ceny_tr                59 non-null     object
 27  Katowice_ceny_tr              59 non-null     object
 28  Kielce_ceny_tr                59 non-null     object
 29  Kraków_ceny_tr                59 non-null     object
 30  Lublin_ceny_tr                59 non-null     object
 31  Łódź_ceny_tr                  59 non-null     object
 32  Olsztyn_ceny_tr               59 non-null     object
 33  Opole_ceny_tr                 58 non-null     object
 34  Poznań_ceny_tr                59 non-null     object
 35  Rzeszów_ceny_tr               59 non-null     object
 36  Szczecin_ceny_tr              59 non-null     object
 37  Warszawa_ceny_tr              59 non-null     object
 38  Wrocław_ceny_tr               59 non-null     object
 39  Zielona Góra_ceny_tr          59 non-null     object
 40  7 miast_ceny_tr               59 non-null     object
 41  10 miast_ceny_tr              59 non-null     object
 42  6 miast bez Warszawy_ceny_tr  59 non-null     object
 43  9 miast_ceny_tr               32 non-null     object
dtypes: object(44)
memory usage: 20.7+ KB

         Kwartał  Białystok  ...  6 miast bez Warszawy_ceny_tr  9 miast_ceny_tr
count         59       59.0  ...                     59.000000        32.000000
unique        59       55.0  ...                     59.000000        32.000000
top     III 2009     4790.0  ...                   5631.258184      4671.173683
freq           1        2.0  ...                      1.000000         1.000000

[4 rows x 44 columns]

## Data cleaning.

Checking if there is any column which contains only one unique value.

In [19]:
#Checking the unique value counts in columns
featureValues={}
for d in df.columns.tolist():
    count=df[d].nunique()
    if count==1:
        featureValues[d]=count
# List of columns having same 1 unique value        
cols_to_drop= list(featureValues.keys())
print("Columns having 1 unique value are :n",cols_to_drop)

Columns having 1 unique value are :n []

Checking the precentage of null values in columns.

In [20]:
df.isnull().mean()*100

Kwartał                          0.000000
Białystok                        0.000000
Bydgoszcz                        0.000000
Gdańsk                           0.000000
Gdynia                           0.000000
Katowice                         0.000000
Kielce                           0.000000
Kraków                           0.000000
Lublin                           0.000000
Łódź                             0.000000
Olsztyn                          0.000000
Opole                            5.084746
Poznań                           0.000000
Rzeszów                          0.000000
Szczecin                         0.000000
Warszawa                         0.000000
Wrocław                          0.000000
Zielona Góra                     0.000000
7 miast                          0.000000
10 miast                         0.000000
6 miast bez Warszawy             0.000000
9 miast                         45.762712
Kwartał_ceny_tr                  0.000000
Białystok_ceny_tr                0.000000
Bydgoszcz_ceny_tr                0.000000
Gdańsk_ceny_tr                   0.000000
Gdynia_ceny_tr                   0.000000
Katowice_ceny_tr                 0.000000
Kielce_ceny_tr                   0.000000
Kraków_ceny_tr                   0.000000
Lublin_ceny_tr                   0.000000
Łódź_ceny_tr                     0.000000
Olsztyn_ceny_tr                  0.000000
Opole_ceny_tr                    1.694915
Poznań_ceny_tr                   0.000000
Rzeszów_ceny_tr                  0.000000
Szczecin_ceny_tr                 0.000000
Warszawa_ceny_tr                 0.000000
Wrocław_ceny_tr                  0.000000
Zielona Góra_ceny_tr             0.000000
7 miast_ceny_tr                  0.000000
10 miast_ceny_tr                 0.000000
6 miast bez Warszawy_ceny_tr     0.000000
9 miast_ceny_tr                 45.762712
dtype: float64

Since there are two columns with more than 40 precentage of null values, I've decided to drop them.

In [27]:
df = df.drop('9 miast_ceny_tr', axis=1)
df = df.drop('9 miast', axis=1)
df.isnull().mean()*100

Kwartał                         0.000000
Białystok                       0.000000
Bydgoszcz                       0.000000
Gdańsk                          0.000000
Gdynia                          0.000000
Katowice                        0.000000
Kielce                          0.000000
Kraków                          0.000000
Lublin                          0.000000
Łódź                            0.000000
Olsztyn                         0.000000
Opole                           5.084746
Poznań                          0.000000
Rzeszów                         0.000000
Szczecin                        0.000000
Warszawa                        0.000000
Wrocław                         0.000000
Zielona Góra                    0.000000
7 miast                         0.000000
10 miast                        0.000000
6 miast bez Warszawy            0.000000
Kwartał_ceny_tr                 0.000000
Białystok_ceny_tr               0.000000
Bydgoszcz_ceny_tr               0.000000
Gdańsk_ceny_tr                  0.000000
Gdynia_ceny_tr                  0.000000
Katowice_ceny_tr                0.000000
Kielce_ceny_tr                  0.000000
Kraków_ceny_tr                  0.000000
Lublin_ceny_tr                  0.000000
Łódź_ceny_tr                    0.000000
Olsztyn_ceny_tr                 0.000000
Opole_ceny_tr                   1.694915
Poznań_ceny_tr                  0.000000
Rzeszów_ceny_tr                 0.000000
Szczecin_ceny_tr                0.000000
Warszawa_ceny_tr                0.000000
Wrocław_ceny_tr                 0.000000
Zielona Góra_ceny_tr            0.000000
7 miast_ceny_tr                 0.000000
10 miast_ceny_tr                0.000000
6 miast bez Warszawy_ceny_tr    0.000000
dtype: float64

The remainder for null values will be replaced with mean of close to null values.

In [126]:
df['Opole'] = pandas.to_numeric(df['Opole'], errors = 'coerce')
df['Opole_ceny_tr'] = pandas.to_numeric(df['Opole_ceny_tr'], errors = 'coerce')
df['Opole'].interpolate(inplace=True)
df['Opole_ceny_tr'].interpolate(inplace=True)
df.isnull().mean()*100

Kwartał                         0.0
Białystok                       0.0
Bydgoszcz                       0.0
Gdańsk                          0.0
Gdynia                          0.0
Katowice                        0.0
Kielce                          0.0
Kraków                          0.0
Lublin                          0.0
Łódź                            0.0
Olsztyn                         0.0
Opole                           0.0
Poznań                          0.0
Rzeszów                         0.0
Szczecin                        0.0
Warszawa                        0.0
Wrocław                         0.0
Zielona Góra                    0.0
7 miast                         0.0
10 miast                        0.0
6 miast bez Warszawy            0.0
Kwartał_ceny_tr                 0.0
Białystok_ceny_tr               0.0
Bydgoszcz_ceny_tr               0.0
Gdańsk_ceny_tr                  0.0
Gdynia_ceny_tr                  0.0
Katowice_ceny_tr                0.0
Kielce_ceny_tr                  0.0
Kraków_ceny_tr                  0.0
Lublin_ceny_tr                  0.0
Łódź_ceny_tr                    0.0
Olsztyn_ceny_tr                 0.0
Opole_ceny_tr                   0.0
Poznań_ceny_tr                  0.0
Rzeszów_ceny_tr                 0.0
Szczecin_ceny_tr                0.0
Warszawa_ceny_tr                0.0
Wrocław_ceny_tr                 0.0
Zielona Góra_ceny_tr            0.0
7 miast_ceny_tr                 0.0
10 miast_ceny_tr                0.0
6 miast bez Warszawy_ceny_tr    0.0
dtype: float64

##Visualization

In [179]:
# creating copy of dataframe and dropping some columns for easier calculations.
df_for_calc = df.copy()
df_for_calc = df_for_calc.drop(['Kwartał'], axis=1)
df_for_calc = df_for_calc.drop(['Kwartał_ceny_tr'], axis=1)
mean_ceny = df_for_calc.mean()
max_ceny = df_for_calc.max()
min_ceny = df_for_calc.min()

Statistic values like minimum, maximum and mean value of housing prices in specific cities are shown on chart below. Its possible to check value or some informations by moving cursor into interactive marker or bar.

In [186]:
fig = px.bar(
    x=df_for_calc.columns,
    y=max_ceny,
    title='Statistics of housing prices in specific cities in Poland.',
    hover_name='Max of ' + df_for_calc.columns,
)
fig.add_scatter(x=df_for_calc.columns, y=min_ceny, mode='markers', name='Min')
fig.add_scatter(x=df_for_calc.columns, y=mean_ceny, mode='markers', name='Mean')
fig.show()

## Linear Regression.

In [187]:
%tensorflow_version

Currently selected TF version: 2.x
Available versions:
* 1.x
* 2.x